<h1>Editar</h1>

<div class="well">
		<%= render 'form' %>
		<!-- <%= link_to 'Ver', @listacorreo, :class=>'btn btn-primary btn-block' %> -->
		<%= link_to 'Atras', listacorreos_path, :class=>'btn btn-primary btn-block' %>
</div>
